{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <a href="{{ link }}">Material Submission {{ submission_id }}</a> has been created by
    <a href="mailto:{{ user_identifier }}" target="_top">{{ user_identifier }}</a> and contains
    HMDMC numbers requiring verification.

    <ul>
      {% for hmdmc in hmdmc_list %}
      <li>{{ hmdmc }}</li>
      {% endfor %}
    </ul>
{% endblock %}
